.device-data-wrapper {
    display: flex;
    gap: 0.5rem;
    align-items: center;

    .device-data-header {
        display: flex;
        align-items: center;

        .image {
            width: 128px;
            height: 128px;
            overflow: hidden;
            background: url('/laptop-screen.png');
            background-size: cover;

            image {
                width: 100%;
                height: 128px;
            }
        }
    }

    .device-data-details {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        .device-data-row {
            display: flex;
            align-items: center;
            gap: 0.5rem;
        }
    }
}