.settings-wrapper {
    display: grid;
    grid-template-rows: 150px 1fr;
    grid-template-columns: 280px 1fr;
    grid-template-areas: "sidebar header"
                         "sidebar main";

    .settings-details {
        grid-area: main;
        padding: 1rem
    }

    .settings-header {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        grid-area: header;
        padding: 1rem 1rem 0 0;
    }

    .settings-navigation {
        grid-area: sidebar;
        height: calc(100vh - 56px);
        background-color: rgb(51, 51, 51);

        h1 {
            padding-left: 1rem;
            font-size: 3rem
        }
    }
}